* {
	box-sizing: border-box;
}
:root {
	--bg: #faf9fe;
	--color: #1c1c1e;
	--bottom-bar-bg: #eae9ee;
	--bottom-bar-main-button-bg: #ddae44;
	--bottom-bar-main-button-color: white;
	--button-bg: rgba(0, 0, 0, 0.06);
	--top-bar-bg: #eae9ee7f;
	--progressbar-color: black;
	--button-border-empty: rgba(0, 0, 0, 0.1);
}
body {
	background: var(--bg);
	color: var(--color);
	margin: 0;
	/*margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;*/
	font-family: "Inter", Sans-Serif;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.bottom-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	position: fixed;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	background: var(--bottom-bar-bg);
	width: clamp(250px, 80vw, 410px);
	height: 75px;
	border: 1px solid #fff1;
	border-radius: 50px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	transition: all 200ms ease;
	padding: 0 16px;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border: none;
		border-radius: 50%;
		background: var(--button-bg);
		flex-shrink: 0;
		transition:
			transform 200ms ease,
			filter 200ms ease;
	}
	button:empty {
		background: transparent;
		border: 1px dashed var(--button-border-empty);
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}
	button:hover:not(:empty) {
		cursor: pointer;
		filter: brightness(1.1);
	}
	button:active:not(:empty) {
		filter: brightness(0.8);
		transform: scale(0.85);
	}

	button.main {
		background: var(--bottom-bar-main-button-bg);
		width: 60px;
		height: 60px;
		color: var(--bottom-bar-main-button-color);
		font-size: 2rem;
		font-weight: 300;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		pointer-events: auto !important;
		opacity: 1 !important;
	}
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 12px;
	background: var(--top-bar-bg);
	font-size: 1.2em;
	font-weight: 500;
	text-align: center;
	align-items: center;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}
.progressbar-bar {
	width: 300px;
	height: 15px;
	border: /*1px dashed var(--progressbar-color)*/ none;
	border-radius: 20px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0 5px 30px #0001;
}
.progressbar-progress {
	width: 0%;
	height: 100%;
	background: var(--progressbar-color);
	border-radius: 0;
	transition: width 1s linear;
}
.progressbar-bar.unfocus,
.progressbar-progress.unfocus {
	opacity: 0.5;
}
.timer {
	font-size: 3.75rem;
	margin: 12px;
	letter-spacing: -2px;
	margin: 0 0 10px 0;
	font-optical-sizing: 30px;
	font-weight: 750;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #0a0a16;
		--color: #f2f2f7;
		--bottom-bar-bg: #111123;
		--bottom-bar-main-button-bg: #8093d1;
		--bottom-bar-main-button-color: black;
		--button-bg: rgba(255, 255, 255, 0.08);
		--top-bar-bg: #1111237f;
		--progressbar-color: white;
		--button-border-empty: rgba(255, 255, 255, 0.15);
	}
	.progressbar-bar {
		background: rgba(255, 255, 255, 0.1);
	}
}
